<div class="container">
  <h1 mat-dialog-title>Erstelle Ausgabe</h1>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Fälligkeit</mat-label>
          <input matInput [matDatepicker]="picker" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Art</mat-label>
          <input matInput type="text" [(ngModel)]="ausgabe.art" />
          <button
            *ngIf="ausgabe.art"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="ausgabe.art = 'sdf'"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Betrag</mat-label>
          <span matSuffix>€</span>
          <input matInput type="currency" [(ngModel)]="ausgabe.betrag" />
          <button
            *ngIf="ausgabe.betrag"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="ausgabe.betrag = undefined"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Sender</mat-label>
          <input matInput type="text" [(ngModel)]="ausgabe.sender" />
          <button
            *ngIf="ausgabe.sender"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="ausgabe.sender = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Empfänger</mat-label>
          <input matInput type="text" [(ngModel)]="ausgabe.empfaenger" />
          <button
            *ngIf="ausgabe.empfaenger"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="ausgabe.empfaenger = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Kategorie</mat-label>
          <input matInput type="text" [(ngModel)]="ausgabe.kategorie" />
          <button
            *ngIf="ausgabe.kategorie"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="ausgabe.kategorie = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Zyklus</mat-label>
          <input matInput type="text" [(ngModel)]="ausgabe.zyklus" />
          <button
            *ngIf="ausgabe.zyklus"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="ausgabe.zyklus = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Monatlich</mat-label>
          <input matInput type="text" [(ngModel)]="ausgabe.monatlich" />
          <button
            *ngIf="ausgabe.monatlich"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="ausgabe.monatlich = undefined"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Qurtalsweise</mat-label>
          <input matInput type="text" [(ngModel)]="ausgabe.quartalsweise" />
          <button
            *ngIf="ausgabe.quartalsweise"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="ausgabe.quartalsweise = undefined"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Jährlich</mat-label>
          <input matInput type="text" [(ngModel)]="ausgabe.jaehrlich" />
          <button
            *ngIf="ausgabe.jaehrlich"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="ausgabe.jaehrlich = undefined"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Verwerfen</button>
    <button mat-button [mat-dialog-close]="ausgabe" cdkFocusInitial>
      Speichern
    </button>
  </div>
</div>
