<div class="row">
  <div class="col-xl-12">
    <mat-slide-toggle class="example-margin" [(ngModel)]="flgRegistration">
      registrieren
    </mat-slide-toggle>
  </div>
</div>

<div class="row">
  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>EMail</mat-label>
      <input matInput type="text" [(ngModel)]="email" autofocus />
      <button
        *ngIf="email"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="email = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Passwort</mat-label>
      <input matInput type="password" [(ngModel)]="password" />
      <button
        *ngIf="password"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="password = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
    <button
      *ngIf="!flgRegistration"
      mat-button
      cdkFocusInitial
      (click)="login()"
      class="btnWidth"
    >
      Login
    </button>
    <button
      *ngIf="flgRegistration"
      mat-button
      cdkFocusInitial
      (click)="registrieren()"
      class="btnWidth"
    >
      Registieren
    </button>
  </div>
</div>
