<table
  mat-table
  [dataSource]="dataSource"
  matSort
  (matSortChange)="announceSortChange($event)"
  class="mat-elevation-z8"
  (change)="getTotalCost()"
  *ngIf="!loading"
>
  <ng-container matColumnDef="id">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by id"
    >
      No.
    </th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    <td mat-footer-cell *matFooterCellDef>Total</td>
  </ng-container>

  <ng-container matColumnDef="faelligkeit">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by faelligkeit"
    >
      Fälligkeit
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.faelligkeit | date: "dd.MM." }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="art">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by art"
    >
      Art
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.art }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="monatlich">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by monatlich"
    >
      betrag
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.monatlich | currency: "EUR":"€" }}
    </td>
    <td mat-footer-cell *matFooterCellDef>
      {{ totalBetrag | currency: "EUR":"€" }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
</table>
