<br />
<div class="container">
  <div class="row">
    <div class="col-9 col-sm-10">
      <h1 *ngIf="updated > 0" [matBadge]="updated" matBadgeOverlap="true">
        {{ title
        }}<mat-icon
          (click)="reload()"
          style="float: right"
          matTooltip="Die Fällgikeit wurde angepasst. Reloade die Seite."
          >replay</mat-icon
        >
      </h1>
      <h1 *ngIf="updated <= 0">{{ title }}</h1>
    </div>
    <div class="col-3 col-sm-2">
      <button
        *ngIf="this.loginService.reload()"
        mat-icon-button
        (click)="logout()"
        class="btnWidth"
      >
        Logout
      </button>
    </div>
  </div>
  <router-outlet></router-outlet>
  <app-dashboard
    *ngIf="false"
    (updated)="handleDBUpdate($event)"
  ></app-dashboard>

  <br />
  <footer><small>&copy; Copyright 2022, Domenic Nauert</small></footer>
</div>
