<div class="row" *ngIf="updated > 0">
  <div class="col-sm-10"></div>
  <div class="col-sm-2">
    Reload erforderlich!
    <mat-icon
      class="myIcon"
      (click)="reload()"
      style="float: right"
      matTooltip="Die Fällgikeit wurde angepasst. Reloade die Seite."
      >replay</mat-icon
    >
  </div>
</div>

<br />

<mat-tab-group
  [selectedIndex]="selected"
  (selectedIndexChange)="selectedTabChanged($event)"
>
  <mat-tab label="Sparkasse">
    <app-sparkasse></app-sparkasse>
  </mat-tab>
  <mat-tab label="N26"> <app-n26></app-n26> </mat-tab>
  <mat-tab label="Volksbank"> <app-volksbank></app-volksbank> </mat-tab>
  <mat-tab label="Depots"> <app-depots></app-depots> </mat-tab>
  <mat-tab label="Sparkonten"> <app-sparkonten></app-sparkonten> </mat-tab>
  <mat-tab label="Einnahmenliste">
    <app-einnahmen [title]="einnahmenTitel"></app-einnahmen>
  </mat-tab>
  <mat-tab label="Ausgabenliste">
    <app-ausgaben
      [title]="ausgabenTitel"
      (update)="handleDBUpdate($event)"
    ></app-ausgaben>
  </mat-tab>
</mat-tab-group>
