<div class="container">
  <h1 mat-dialog-title>
    <span *ngIf="isEdit">Bearbeite </span>
    <span *ngIf="!isEdit">Erstelle </span>
    <span *ngIf="isAusgabe">Ausgabe</span>
    <span *ngIf="!isAusgabe">Einnahme</span>
  </h1>

  <div mat-dialog-content>
    <div class="row justify-content-around">
      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Fälligkeit</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            [formControl]="faelligkeit"
            [disabled]="position.isKontostand!"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker startView="year"></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Art</mat-label>
          <input matInput type="text" [(ngModel)]="position.art" />
          <button
            *ngIf="position.art"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="position.art = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Betrag</mat-label>
          <span matSuffix>€</span>
          <input #betrag matInput type="number" [(ngModel)]="position.betrag" />
          <button
            *ngIf="position.betrag"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="position.betrag = undefined"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Sender</mat-label>
          <mat-select
            [(value)]="position.sender"
            [disabled]="position.isKontostand"
          >
            <mat-option *ngFor="let item of enumSender" [value]="item">
              {{ EnumMapper[item] }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Empfänger</mat-label>
          <mat-select [(value)]="position.empfaenger">
            <mat-option *ngFor="let item of enumEmpfaenger" [value]="item">
              {{ EnumMapper[item] }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Kategorie</mat-label>
          <mat-select
            [(value)]="position.kategorie"
            [disabled]="position.isKontostand"
          >
            <mat-option *ngFor="let item of enumKategorie" [value]="item">
              {{ EnumMapper[item] }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="example-full-width slider" appearance="fill">
          <mat-slide-toggle
            (change)="flgAusgabeChanged()"
            [(ngModel)]="isAusgabe"
            >ist eine Ausgabe?</mat-slide-toggle
          >
        </div>

        <div
          *ngIf="!isAusgabe && !isEdit"
          class="example-full-width slider"
          appearance="fill"
        >
          <mat-slide-toggle
            (change)="flgKontostandChanged()"
            [(ngModel)]="isKontostand"
            >ist eine Kontostand?</mat-slide-toggle
          >
        </div>

        <div
          *ngIf="!isAusgabe && !isEdit"
          class="example-full-width slider"
          appearance="fill"
        >
          <mat-slide-toggle
            (change)="flgTemporaerChanged()"
            [(ngModel)]="isTemporaer"
            >ist Temporär?</mat-slide-toggle
          >
        </div>
      </div>

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="example-full-width" appearance="fill">
          <section>
            <mat-button-toggle-group
              [(ngModel)]="position.zyklus"
              aria-label="Zyklus"
              class="example-full-width"
              [disabled]="isKontostand"
            >
              <mat-button-toggle
                *ngFor="let zyklus of enumZyklus"
                [value]="zyklus"
                class="example-full-width"
                matTooltip="Betrag monatlich, quartalsweise oder jährlich"
                >{{ EnumMapper[zyklus] }}</mat-button-toggle
              >
            </mat-button-toggle-group>
          </section>
        </div>
      </div>
    </div>
  </div>

  <div mat-dialog-actions class="row justify-content-around">
    <button
      class="col-xl-4 col-lg-6 col-md-12 col-sm-12"
      mat-button
      (click)="onNoClick()"
    >
      Esc
    </button>
    <button
      class="col-xl-4 col-lg-6 col-md-12 col-sm-12"
      mat-button
      *ngIf="!flgShowDelete"
      [mat-dialog-close]="getPosition()"
      cdkFocusInitial
    >
      Speichern
    </button>
    <button
      class="col-xl-4 col-lg-6 col-md-12 col-sm-12"
      *ngIf="flgShowDelete"
      mat-button
      [mat-dialog-close]="position"
      (click)="onDeleteClick()"
    >
      Löschen
    </button>
    <button
      class="col-xl-4 col-lg-6 col-md-12 col-sm-12"
      mat-button
      *ngIf="flgShowDelete"
      [mat-dialog-close]="getPosition()"
      cdkFocusInitial
      (click)="onChangeClick()"
    >
      Ändern
    </button>
  </div>
</div>
